.ouvrage-bg {
    background-image: url("/assets/photo.webp");
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  height: 120vh;
  }
  .center-container{
    display: flex;
    justify-content: center;

    height: 25vh;
    width: 100vh; 
    
  }
  .card {
    text-align: center;
    margin: 60px;
  }
  
  .card-header{
    background-color:darkorange ;
  }
  