.liste-bg {
    background-image: url("/assets/photo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  height: 100vh;
  }
  .card-header{
    background-color: darkorange;
  }
  .center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 130vh; 
    
  }
  .bout{
    margin: 40%;

  }
  
  
  
  