.authentification-bg {
    background-image: url("/assets/photo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  height: 100vh;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 200vh; 
    
  }
  .card {
    text-align: center;
  }
  