.liste-bg {
    background-image: url("/assets/photo.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  height: 100vh;
  }
  .card {
    text-align: center;
  }
  .card-header{
    background-color: darkorange;
  }