<div class="type-bg">
    <div class="container mt-3 center-container">
      <div class="card">
        <div class="card-body">
          <div class="card-header  text-white">
            GESTION DES TYPES D'OUVRAGE
          </div>
          <div class="row">
            <!-- Colonne de l'image -->
            <div class="col-md-6">
              <img src="assets/images/ouv.jpeg" alt="Description de l'image" class="img-fluid" style="height: 250px;">
            </div>

            <!-- Colonne des champs -->
            <div class="col-md-6"> 
              <form action="">
                <div class="form-group">
                    <label for="">Nom:</label>
                    <input type="text" name="libelle"  [(ngModel)]="new_type.libelle" required autofocus class="form-control" style="background-color: lightgray;">
                </div>

                <p></p>
                <div class="">
                    <button type="button" class="btn btn-info" (click)="envoyer()"> envoyer</button><br><br>
                    
            </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
